:root{
    --main:white;
    --primary:black;
    --secondary:rgb(122, 120, 120);
}

/* A */
a{
    text-decoration: none;
}

/* NAVBAR */

#mainNavigation a {
    font-family: 'Cabin', sans-serif;
    font-size:14px;
    text-transform:uppercase;
    letter-spacing:2px;
    text-shadow:1px 1px 2px rgba(0,0,0,0.4)
}

.dropdown-menu {
    background: var(--main);
}

a.dropdown-toggle {
    color: black !important
}

a.dropdown-item:hover {
    color:#03727d !important
}

.nav-item a{
    color: black;
}

.nav-item a:hover {
    color:#fff
}

.nav-item{
    min-width:12vw;
}

#mainNavigation {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:123;
    padding-bottom:20px;
}

#navbarNavDropdown.collapsing .navbar-nav,
#navbarNavDropdown.show .navbar-nav{
    background:rgb(122, 120, 120);
    padding:12px;
}

.logo{
    width: 4%;
    
}

body{
    background-color: rgb(218, 218, 218);
}

/* FORM REGISTRATI */

.card {
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    /* margin: 10px; */
    margin-top: 90px;
    padding: 0;
   
}

.card-header {
    background-color: #333;
    padding: 16px;
    text-align: center;

}

.card-header .text-header {
    margin: 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.card-body {
    padding: 16px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin-bottom: 1px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 12px 24px;
    margin-left: 13px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer
}

.btn:hover {
    background-color: #ccc;
    color: #333;
}