:root{
    --main:white;
    --primary:black;
    --secondary:rgb(6, 57, 108);
    --third: rgb(117, 117, 117);
    
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Kaisei Opti', serif;
}

h1{
    font-size: 40px;
    font-weight:900;
}
h2, h3, h4, h5, h6{
    color: var(--secondary);
}

p, label, button, textarea, input, a, div{
 font-family: 'Raleway', sans-serif;
 
}
p{
    font-size: 20px;
    color: var(--third);
}

/* A */
a{
    text-decoration: none;
 }

.color-hv:hover{
    color: rgb(63, 132, 244) !important;
}



/* NAVBAR */

/* #mainNavigation a {
    font-family: 'Cabin', sans-serif;
    font-size:14px;
    text-transform:uppercase;
    letter-spacing:2px;
    text-shadow:1px 1px 2px rgba(0,0,0,0.4);
}

.bg-navbar{
    background-color: var(--secondary);
    color: var(--main);
}

.dropdown-menu {
    background: var(--secondary);
}

a.dropdown-toggle {
    color: black !important
}

a.dropdown-item:hover {
    color:#000000 !important
}

.nav-item a{
    color: black;
}

.nav-item a:hover {
    color:#fff
}

.nav-item{
    min-width:12vw;
}

#mainNavigation { */
    /* position:fixed; */
    /* top:0;
    left:0;
    width:100%;
    z-index:123;
    padding-bottom:20px;
}

#navbarNavDropdown.collapsing .navbar-nav,
#navbarNavDropdown.show .navbar-nav{
    background:var(--secondary);
    padding:12px;
} */




/* FORM REGISTRATI */

.card {
    width: 450px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    /* margin: 10px; */
    margin-top: 25px;
    padding: 0;
   
}

.card-header {
    background-color: #333;
    padding: 16px;
    text-align: center;

}

.card-header .text-header {
    margin: 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.card-body {
    padding: 16px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin-bottom: 1px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 12px 24px;
    margin-left: 0;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color:var(--secondary);
    color: #fff;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer
}

.btn:hover {
    background-color: var(--third);
    color: var(--secondary);
}

/* BTN Accetta articolo */
.btn-accept{
    padding: 14px 24px;
    margin-left: 0;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color:green;
    color: #fff;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer
}

.btn-accept:hover{
    background-color: rgb(29, 211, 29);
    color: black;
}

/* BTN Rifiuta articolo */
.btn-discard{
    padding: 14px 24px;
    margin-left: 0;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color:rgb(168, 24, 24);
    color: #fff;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer
}

.btn-discard:hover{
    background-color:rgb(209, 3, 3);
    color: black;
}


.img-show {
    width:70%;
    
}

.scroll-to-top {
    position: fixed;
    bottom: -40px; 
    right: 20px;
    z-index: 9999;
    transition: bottom 0.3s;  
  }
  
  .scroll-link {
    display: block;
    padding: 10px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
  }
  
  .scroll-link:hover {
    background-color: #555;
  }

  @media screen and (max-width: 978px){
    .img-show{
        width: 100%;
    }
  }

  /* Dimensione tabella */
  .fixed-width{
    width: 25%;
  }

  /* Ridimensionamento del bottone */
  @media only screen and (max-width: 993px) {
    #mybottone {
      display: none;
    }
    #myicon {
      display: inline-block;
    }
  }
  @media only screen and (min-width: 994px) {
    #mybottone {
      display: inline-block;
    }
    #myicon {
      display: none;
    }
  }